:root {
  --blue: #3d7496;
  --cursive-font: "Notera", serif;
  --header-font: "Cinzel", system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  --readable-font: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
}

@font-face {
  font-family: 'Cinzel';
  src: url('fonts/Cinzel.woff2'),
       url('fonts/Cinzel.woff'),
       url('fonts/Cinzel.ttf')
}
@font-face {
  font-family: 'Notera';
  src: url('fonts/Notera.woff2'),
       url('fonts/Notera.woff'),
       url('fonts/Notera.ttf')
}

body {
  background-color: white;
  background-image: url('images/sandpaper.png');
  font-family: var(--readable-font);
  color: var(--blue);
  /* min-height: 100vh; */
  margin: 0;
  padding: 1rem;
}

main .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: var(--blue);
  font-size: 4rem;
  font-family: var(--header-font);
  text-align: center;
}
h2 {
  color: var(--blue);
  font-size: 4.25rem;
  font-family: var(--cursive-font);
  text-align: center;
}

img {
  display: block;
  max-width: 70%;
  max-height: 90vh;
  max-width: 1000px;
  height: auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  /* transform: rotateY(180deg); */
}

.row {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

p {
  width: 30%;
  margin: 1rem;
  flex-basis: 230px;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  text-transform: lowercase;
}

p span {
  width: 50%;
  display: inline-block;
  padding-right: 0.2rem;
  text-align: right;
}
p i {
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
  display: inline-block;
  width: 50%;
  padding-left: 0.2rem;
}

@media (max-width: 900px) {
  img {
    width: 100%;
  }
  main .container {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 10vw;
  }
  p span {
    width: 30%;
  }
}