footer {
  background-color: var(--brown)
}

footer .container {
  max-width: 500px;
  padding: 1rem 2.7%;
  margin: auto;
  color: var(--trans-white);

  text-emphasis: center;
}

footer a {
  color: var(--trans-white);
}