.hero-title {
  padding-bottom: 0;
  position: relative;
}

.hero-title::before {
  content: var(--leaf-big);
  position: absolute;
  top: -15rem;
  right: -10rem;
  transform: rotate(15deg);
  z-index: -1;
}

.hero-title .content {
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.66);
}

.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2.7%;
  max-width: 900px;
  margin: auto;
}

.imagey-wrapper {
  flex: 1 1 auto;
  text-align: center;
}

.imagey {
  display: block;
  height: auto;
  max-height: 90vh;
  min-height: 350px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  -webkit-filter: drop-shadow(0 0 5px 12px rgba(0,0,0, 0.3));
  filter: drop-shadow(0 0 12px rgba(0,0,0, 0.3));
  object-fit: contain;
}

@media (max-width: 475px) {
  .timer-container {
    flex-direction: column;
  }

  .imagey {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: none;
  }
}
