/* Registry */


.registry {
  background-color: var(--brown);
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 50%, rgba(0,0,0,0.333) 100%), var(--texture-board);
  padding: 12rem 0;
}

.registry .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 900px;
  padding: 0 2.7%;
  margin: auto;
}

.container:hover .registery-item {
  filter: grayscale(1);
  opacity: 0.5;
}

.registery-item {
  display: block;
  width: 33.333%;
  padding: 0.5rem;
  transition: filter 0.3s, opacity 0.3s;
}
.registery-item.amazon {
  margin-top: 1.2rem; /* align with Crate and Barrel logo*/
}

.registery-item.registery-item:hover {
  filter: grayscale(0);
  opacity: 1;
}

@media (max-width: 475px) {
  .registry .container { 
    flex-wrap: wrap;
    justify-content: center;
  }
  .registery-item {
    width: 50%;
    padding: 1.5rem 1rem;
  }
  .registery-item.amazon {
    margin-top: 0; /* undo align with Crate and Barrel logo*/
  }
}

@media (max-width: 374px) {
  .registery-item {
    width: 66%;
    padding: 1.5rem 1rem;
  }
}