:root {
  --blue: #4C7390;
  --blue-selected: rgba(92, 151, 188, 0.7);
  --blue-light: #C8DBE7;
  --trans-blue-light: rgba(200, 219, 231, 0.85);
  --red: #963D48;
  --brown: #965F3D;
  --gold: #96893d;

  --grey: #4A525A;
  --trans-grey: rgba(74, 82, 90, 0.5);
  --white: #eee;
  --real-white:#fff;
  --trans-white-4: rgba(255, 255, 255, 0.4);
  --trans-white-6: rgba(255, 255, 255, 0.66);
  --trans-white-9: rgba(255, 255, 255, 0.9);
  --dark: #111;
  --trans-dark: rgba(46, 47, 47, 0.7);

  --cursive-font: "Notera", serif;
  --header-font: "Cinzel", system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  --readable-font: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;

  /* relative to this file */
  --texture-paper: url('../images/sandpaper.png');
  --texture-board: url('../images/cardboard.png');
  --leaf: url('../images/wc-leaf-short.png');
  --leaf-big: url('../images/wc-leaf-long.png');
  --watercolor: url('../images/wc.jpg');
}



@media (prefers-color-scheme: dark) {
  :root {
    --blue: hsl(206, 41%, 30%);
    --trans-blue-light: hsla(203, 8%, 33%, 0.5);
    --brown: hsl(23, 42%, 21%);

    --grey: #b5ada5;
    --trans-grey: rgb(181, 173, 165, 0.5);
    --white: #111113;
    --real-white:#000;
    --trans-white-4: rgba(0, 0, 0, 0.4);
    --trans-white-6: rgba(0, 0, 0, 0.66);
    --trans-white-9: rgba(0, 0, 0, 0.9);
    --dark: #eee;
    --trans-dark: rgb(209, 208, 208, 0.7);
  }
}


