:root {
  --blue: #4C7390;
  --blue-selected: hsl(203, 42%, 55%);
  --blue-light: #C8DBE7;
  --red: #963D48;
  --brown: #965F3D;
  --gold: #96893d;

  --grey: #4A525A;
  --white: #eee;
  --real-white:#fff;
  --trans-white: rgba(255, 255, 255, 0.4);
  --dark: #111;
  --trans-dark: rgba(46, 47, 47, 0.7);

  --cursive-font: "Notera", serif;
  --header-font: "Cinzel", system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  --readable-font: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;

  /* relative to this file */
  --texture-paper: url('../images/sandpaper.png');
  --texture-board: url('../images/cardboard.png');
  --leaf: url('../images/wc-leaf-short.png');
  --leaf-big: url('../images/wc-leaf-long.png');
  --watercolor: url('../images/wc.png');
}


